giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/excluirbalancete/response/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="excluirBalanceteResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codMensagem" type="xsd:string" />
        <xsd:element name="mensagem" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

