giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/comboestados/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="comboEstadosRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="quantidadeOcorrencias" type="xsd:int" default="0" />
        <xsd:element name="codigoUnidadeFederativa" type="xsd:int" default="0" />
        <xsd:element name="siglaUnidadeFederativa" type="xsd:string" />
        <xsd:element name="nomeUnidadeFederativa" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>