giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/listarpgtosvencidoscomp/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="listarPgtosVencidosCompRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codEmpresa" type="xsd:int" default="0" />
        <xsd:element name="codIdentificacaoProduto" type="xsd:int" default="0" />
        <xsd:element name="anoMes" type="xsd:int" default="0" />
        <xsd:element name="numeroApuracaoIss" type="xsd:int" default="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

