giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/listartiposervico/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="listarTipoServicoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigotiposervico" type="xsd:int" default="0" />
        <xsd:element name="descricaotiposervico" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>