giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/reprocessarapuracao/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="reprocessarApuracaoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="anoMesCompetencia" type="xsd:int" default="0" />
        <xsd:element name="codigoEmpresa" type="xsd:int" default="0" />
        <xsd:element name="codigoProduto" type="xsd:int" default="0" />
        <xsd:element name="numeroApuracao" type="xsd:int" default="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

