giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/listamunicipio/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="listaMunicipioRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codFuncao" type="xsd:string" />
        <xsd:element name="codMunicipio" type="xsd:long" default="0" />
        <xsd:element name="descMunicipio" type="xsd:string" />
        <xsd:element name="codUf" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

