giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/consultartipoincidencia/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="consultarTipoIncidenciaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codigoTipoIncidencia" type="xsd:int" default="0" />
        <xsd:element name="descricaoTipoIncidencia" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

