giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/listarreprocessamentopormunicipio/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="listarReprocessamentoPorMunicipioRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="numeroMaximoOcorrencias" type="xsd:int" default="0" />
        <xsd:element name="codigoEstado" type="xsd:int" default="0" />
        <xsd:element name="dataInicialReprocessamento" type="xsd:string" />
        <xsd:element name="dataFinalReprocessamento" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

