giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/consultarhistoricotipoincidencia/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="consultarHistoricoTipoIncidenciaRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="quantidadeOcorrencias" type="xsd:int" default="0" />
        <xsd:element name="dataInicial" type="xsd:int" default="0" />
        <xsd:element name="dataFinal" type="xsd:int" default="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

