giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/obterdescdependencia/response/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="obterDescDependenciaResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="codMensagem" type="xsd:string" />
        <xsd:element name="mensagem" type="xsd:string" />
        <xsd:element name="codEmpresa" type="xsd:long" default="0" />
        <xsd:element name="desDependencia" type="xsd:string" />
        <xsd:element name="codDependencia" type="xsd:int" default="0" />
        <xsd:element name="numSeqDependencia" type="xsd:int" default="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

