giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/listarcontascontabeisperiodo/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="listarContasContabeisPeriodoRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="numeroMaximoOcorrencia" type="xsd:int" default="0" />
        <xsd:element name="dataInicial" type="xsd:string" />
        <xsd:element name="dataFinal" type="xsd:string" />
        <xsd:element name="codigoGrupo" type="xsd:int" default="0" />
        <xsd:element name="codigoSubgrupo" type="xsd:int" default="0" />
        <xsd:element name="cosif" type="xsd:long" default="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

