giss/JavaSource/br/com/bradesco/web/giss/service/data/pdc/listarapuracaomensal/request/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="listarApuracaoMensalRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="funcao" type="xsd:string" />
        <xsd:element name="botao" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>

